body{
    background-color: black;
  }  
     
      .navbar{
        text-decoration: none;
      }
     
.offcanvas-start{
              backdrop-filter: blur(9px) saturate(180%);
    -webkit-backdrop-filter: blur(9px) saturate(180%);
    background-color: rgba(76, 105, 170, 0.18);
    border-radius: 1px;
    border: 1px solid rgba(255, 255, 255, 0.125);
 
            }
            #bttn{
                background-color: white;
              }
              h1{
                color: white;
              }


              iframe{
                align-items: center;
                display: flex;
                justify-content: center;
                margin-left: 300px;
                width: 800px;
                height: 500px;
              }